/* commons  */

.mc-btn, .mc-color-white {
    color: white;
}

.mc-color-bluPlay {
    color: rgb(0, 114, 206);
}

.mc-btn-black {
    background-color: rgb(54, 54, 54);
}

.mc-btn-black:hover {
    outline: 2px solid rgb(54, 54, 54);
    outline-offset: 2px;
}

.mc-btn-orange {
    background-color: rgb(205, 61, 15);
}

.mc-btn-orange:hover {
    outline: 2px solid rgb(205, 61, 15);
    outline-offset: 2px;
}

.mc-btn-blue {
    background-color: rgb(0, 114, 206);
}

.mc-btn-blue:hover {
    outline: 2px solid rgb(0, 114, 206);
    outline-offset: 2px;
}

.mc-btn-lightgrey {
    background-color: rgb(217, 218, 220);
}

.mc-btn-lightgrey:hover {
    outline: 2px solid rgb(217, 218, 220);
    outline-offset: 2px;
}

.mc-rounded {
    border-radius: 25px;
}

.mc-pad-x {
    padding: 0px 100px ;
}

/* header */

/* top-nav */
header {
   display: unset;
}

#mc-nav-bar {
    background-color: white;
    z-index: 999;
}
#mc-top-bar {
    background-color: black;
}

#sony-logo {
    width: 100px;
}

/* nav-bar  */
.mc-position-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav-item a:hover {
    color: rgb(0, 114, 206);
}
.mc-nav-item::after{
  content: url("../img/chevron-down-solid.svg");
  width: 10px;
  height: 10px;
  display: inline-block;
}

.mc-nav-item:focus::after {
    content: url("../img/chevron-down-solid-hover.svg");
    width: 10px;
    height: 10px;
    display: inline-block;
  
}

.mc-nav-color:hover {
    color: rgb(0, 114, 206);
}

.mc-mr {
    margin-right: 50px;
}

.mc-dropdown-txt:hover {
    color: rgb(0, 114, 206);
}

.mc-dropdown-img:hover {
    box-shadow: 2px 3px 8px #888888;
}
#mc-jumbotron, #mc-sezione-3 {
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat ;
    background-position-x: center ;
    background-position-y: top ;
}
#mc-jumbotron{
    background-image: url("../img/jumbo-bg.png");
}
/* main  */

/* Sezione-1 */
.mc-sezione-1-border {
    border: 2px solid rgb(0, 114, 206);
    padding: 3px;
}

.mc-sezione-1-rect {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.mc-sezione-1-rect:hover {
    top: -10px;
}
/* Sezione-2  */
#mc-sezione-2-title {
    color: rgb(0, 114, 206);
}

.mc-sezione-2-box {
    opacity: 0.5;
    border-bottom: 2px solid white;
    max-width: 200px;
}

.mc-sezione-2-box:hover {
    border-bottom: 2px solid rgb(0, 114, 206);
    opacity: 1;
}

.mc-sezione-2-img {
    height: auto;
    width: 100%;
}

/* Sezione-3  */
#mc-sezione-3 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* Sezione 4 */
#mc-sezione-4 {
    background-color: rgb(31, 31, 31);
}

/* Sezione 6 */
#mc-sezione-6 {
    background-color: rgb(190, 188, 187);
}

/* Sezione 8 */
#mc-sezione-8 {
    background-color: rgb(22, 28, 59);
}


/* Footer  */

#mc-footer {
    background-color: rgb(0, 67,156);
}

#mc-play-logo-footer {
    max-width: 150px;
}

#mc-country::before {
    content: "";
    background-image: url("../img/language-globe.svg");   
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.mc-font-footer {
    font-size: 15px;
}

/* .mc-box-play {
    width: 100%;
    height: 100%;
    background-color: red;
} */