
/* header */

/* top-nav */
#mc-top-bar {
    background-color: black;
}

#sony-logo {
    width: 10%;
}

/* nav-bar  */

.mc-btn {
    color: white;
}
.mc-btn-black {
    background-color: rgb(54, 54, 54);
}
.mc-btn-orange {
    background-color: rgb(205, 61, 15);
}
.mc-btn-blue {
    background-color: rgb(0, 114, 206);
}
/* Jumbotron  */
#mc-jumbotron, #mc-sezione-3 {
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat ;
    background-position-x:center ;
    background-position-y: top ;
}
#mc-jumbotron{
    background-image: url("../img/jumbo-bg.png");
}
#mc-jumbotron {
    color: white;
}

.mc-box {
    width: 100%;
    height: 100px;
    background-color: red;
}

/* main  */

.debug #mc-sezione-5,
.debug #mc-sezione-6,
.debug #mc-sezione-7,
.debug #mc-sezione-8,
.debug #mc-sezione-9 {
    background-color: blue;
    margin-top: 20px;
}

/* Sezione-1 */
.mc-sezione-1-img {
    border-radius: 25px;
}
.mc-sezione-1-border {
    border: 2px solid rgb(0, 114, 206);
    padding: 3px;
    border-radius: 25px;
}

/* Sezione-2  */
#mc-sezione-2-title {
    color: rgb(0, 114, 206);
}

.mc-sezione-2-box {
    opacity: 0.5;
    border-bottom: 2px solid white;
    width: 200px;
}

.mc-sezione-2-box:hover {
    border-bottom: 2px solid rgb(0, 114, 206);
    opacity: 1;
}

.mc-sezione-2-img {
    height: auto;
    width: 100%;
}

/* Sezione-3  */
#mc-sezione-3 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    color: white;
}
.mc-box-play {

    width: 100px;
    height: 100px;
    background-color: red;
}

#mc-sezione-4 {
    background-color: lightskyblue;
}


.debug #footer {

    width: 100%;
    height: 500px;
    background-color: blue;
}