/* commons  */
.mc-btn, .mc-color-white {
    color: white;
}
.mc-color-bluPlay {
    color: rgb(0, 114, 206);
}
.mc-btn-black {
    background-color: rgb(54, 54, 54);
}
.mc-btn-orange {
    background-color: rgb(205, 61, 15);
}
.mc-btn-blue {
    background-color: rgb(0, 114, 206);
}
.mc-btn-lightgrey {
    background-color: rgb(217, 218, 220s);
}
.mc-rounded {
    border-radius: 25px;
}


/* header */

/* top-nav */
#header {
    width: 100%;
    z-index: 1;
}

#mc-top-bar {
    background-color: black;
}

#sony-logo {
    width: 100px;
}

/* nav-bar  */


/* Jumbotron  */
#mc-jumbotron, #mc-sezione-3 {
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat ;
    background-position-x: center ;
    background-position-y: top ;
}
#mc-jumbotron{
    background-image: url("../img/jumbo-bg.png");
}

.mc-box {
    width: 100%;
    height: 100px;
    background-color: red;
}

/* main  */

.debug #mc-sezione-9 {
    background-color: blue;
    margin-top: 20px;
}

/* Sezione-1 */

.mc-sezione-1-border {
    border: 2px solid rgb(0, 114, 206);
    padding: 3px;
}

/* Sezione-2  */
#mc-sezione-2-title {
    color: rgb(0, 114, 206);
}

.mc-sezione-2-box {
    opacity: 0.5;
    border-bottom: 2px solid white;
    max-width: 200px;
}

.mc-sezione-2-box:hover {
    border-bottom: 2px solid rgb(0, 114, 206);
    opacity: 1;
}

.mc-sezione-2-img {
    height: auto;
    width: 100%;
}

/* Sezione-3  */
#mc-sezione-3 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* Sezione 4 */

#mc-sezione-4 {
    background-color: rgb(31, 31, 31);
}

/* Sezione 6 */
#mc-sezione-6 {
    background-color: rgb(190, 188, 187);
}


.mc-box-play {

    width: 100px;
    height: 100px;
    background-color: red;
}


.debug #footer {

    width: 100%;
    height: 500px;
    background-color: blue;
}